name: Build and Push Docker Image

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - '.dockerignore'
      - 'src/**'
      - 'package*.json'
      - '.github/workflows/build-and-push.yml'
  schedule:
    - cron: '0 0 * * 0'  # Runs every Monday at 00:00 UTC

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set lowercase owner and repository
        id: prepare_tag
        run: |
          OWNER_LOWERCASE=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME_LOWERCASE=$(echo "${{ github.event.repository.name }}" | tr '[:upper:]' '[:lower:]')
          echo "tag=ghcr.io/$OWNER_LOWERCASE/$REPO_NAME_LOWERCASE:latest" >> "$GITHUB_OUTPUT"

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.prepare_tag.outputs.tag }}
